html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding-top: 120px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Tahoma';
    font-weight: bolder;
    margin-bottom: 10px;
    color: #222;
}

header p {
    font-size: 1.4em;
    font-family: 'Tahoma';
    color: #666;
    margin-top: 5px;
}

.social-links {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

section {
    margin-bottom: 25px;
    padding-top: 5px; 
}

h2 {
    font-size: 1.6em;
    font-family: Arial;
    font-weight: 1000;
    border-bottom: 1.2px solid #0033691b;
    padding: 20px 0 10px 10px;
    color: #0056b3;
}

.publication { margin: 0 15px 0 15px;}
.publication h3 { font-size: 1.1em; margin: 10px 0 5px 0; font-weight: bold;}
.publication .authors { color: #777; font-style: italic; margin: 0;}
.publication .venue { margin: 0 0 2px 0;}
.publication .links { margin-top: 0px; margin-bottom: 0px; }
.publication .links a { margin-right: 5px; text-decoration: none; color: #007bff;}
.publication .links a:hover { text-decoration: underline; font-weight: bold;}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.stats-container img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 0.9em;
}

footer p {
    margin: 5px;
}

.container a {
    text-decoration: none;
    color: #003874;
}

.container #bio a{
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline; 
}

.social-links a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
}

.social-links a:hover {
    text-decoration: underline;
    font-weight: bold;
}