<nav class="navbar navbar-expand-md navbar-light fixed-top liquid-glass-nav">
    <div class="liquid-glass-shell" style="font-family: OptimaM;">
        <a class="navbar-brand liquid-glass-brand" href="{{HOME_URL}}">Xiafeng Man</a>
        <button class="navbar-toggler liquid-glass-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" href="{{HOME_URL}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="publications.html">Publications</a></li>
            </ul>
        </div>
    </div>
</nav>
